
footer {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    max-width: 1400px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
}

.footer-content {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;        
}


.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-p {
    margin-top: 15px; 
}

.footer-icons {
    display: flex;
    align-items: center;
}

.footer-icons img {
    width: 60px;
    margin-right: 15px; 
}


@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;           
        justify-content: space-between; 
        align-items: center;            
    }

    .footer-info {
        flex-direction: row;          
        gap: 30px;
    }

    .footer-icons {
        justify-content: flex-end;     
    }

    .footer-icons img {
        margin-left: 15px;      
        margin-right: 0;
    }
}