/*footer*/
footer {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    max-width: 1400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.footer-content {
    margin: 50px;
}

.footer-info {
    margin: 10px;
}

.footer-p {
    margin: 10px;

}

.footer-icons img {
    width: 40px;
    margin-left: 15px;
}

.line {
    border: none;
    height: 6px;
    background-color: #000;
    width: calc(100% - 100px);
    margin: 10px auto 20px auto;
    opacity: 1;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .footer-info {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {

    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .footer-info {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}